recursive-include tests *.py *.json *.js
recursive-include docs *.md *.html
recursive-include examples *.md *.yaml *.json
include requirements*.txt
include requirements-dev.in
recursive-include evals *.py *.json *.md *.yaml
include Dockerfile .dockerignore CHANGELOG.md
recursive-include scripts *.py *.html *.css *.js
